#By changing the setting below to TRUE you are indicating your agreement to our EULA (https://account.mojang.com/documents/minecraft_eula).
#{{ lookup('pipe','date "+%a %h %d %T UTC %Y"') }}
eula=true
