[Unit]
Description=Start/Stop/Restart Minecraft server.

[Service]
Type = forking
ExecStart=/etc/init.d/minecraftd start
ExecStop=/etc/init.d/minecraftd stop
Restart=always
PIDFile="{{ minecraft_path }}/tmp/{{ app_name }}.pid"

[Install]
WantedBy=default.target
