#Minecraft server properties
#{{ lookup('pipe','date "+%a %h %d %T UTC %Y"') }}
spawn-protection={{ server_properties['spawn_protection'] }}
max-tick-time={{ server_properties['max_tick_time'] }}
query.port={{ server_properties['query_port'] }}
generator-settings={{ server_properties['generator_settings'] }}
sync-chunk-writes={{ server_properties['sync_chunk_writes'] }}
force-gamemode={{ server_properties['force_gamemode'] }}
allow-nether={{ server_properties['allow_nether'] }}
enforce-whitelist={{ server_properties['enforce_whitelist'] }}
gamemode={{ server_properties['gamemode'] }}
broadcast-console-to-ops={{ server_properties['broadcast_console_to_ops'] }}
enable-query={{ server_properties['enable_query'] }}
player-idle-timeout={{ server_properties['player_idle_timeout'] }}
difficulty={{ server_properties['difficulty'] }}
broadcast-rcon-to-ops={{ server_properties['broadcast_rcon_to_ops'] }}
spawn-monsters={{ server_properties['spawn_monsters'] }}
op-permission-level={{ server_properties['op_permission_level'] }}
pvp={{ server_properties['pvp'] }}
entity-broadcast-range-percentage={{ server_properties['entity_broadcast_range_percentage'] }}
snooper-enabled={{ server_properties['snooper_enabled'] }}
level-type={{ server_properties['level_type'] }}
enable-status={{ server_properties['enable_status'] }}
hardcore={{ server_properties['hardcore'] }}
enable-command-block={{ server_properties['enable_command_block'] }}
network-compression-threshold={{ server_properties['network_compression_threshold'] }}
max-players={{ server_properties['max_players'] }}
max-world-size={{ server_properties['max_world_size'] }}
resource-pack-sha1={{ server_properties['resource_pack_sha1'] }}
function-permission-level={{ server_properties['function_permission_level'] }}
rcon.port={{ server_properties['rcon_port'] }}
server-port={{ server_properties['server_port'] }}
server-ip={{ server_properties['server_ip'] }}
spawn-npcs={{ server_properties['spawn_npcs'] }}
allow-flight={{ server_properties['allow_flight'] }}
level-name={{ server_properties['level_name'] }}
view-distance={{ server_properties['view_distance'] }}
resource-pack={{ server_properties['resource_pack'] }}
spawn-animals={{ server_properties['spawn_animals'] }}
white-list={{ server_properties['white_list'] }}
rcon.password={{ server_properties['rcon_password'] }}
generate-structures={{ server_properties['generate_structures'] }}
online-mode={{ server_properties['online_mode'] }}
max-build-height={{ server_properties['max_build_height'] }}
level-seed={{ server_properties['level_seed'] }}
prevent-proxy-connections={{ server_properties['prevent_proxy_connections'] }}
use-native-transport={{ server_properties['use_native_transport'] }}
enable-jmx-monitoring={{ server_properties['enable_jmx_monitoring'] }}
motd={{ server_properties['motd'] }}
rate-limit={{ server_properties['rate_limit'] }}
enable-rcon={{ server_properties['enable_rcon'] }}