[Unit]
Description=Start/Stop/Restart Minecraft Forge server.

[Service]
Type=forking
ExecStart=/etc/init.d/minecraft-forged start
ExecStop=/etc/init.d/minecraft-forged stop
Restart=always
PIDFile="{{ forge_path }}/tmp/{{ app_name }}.pid"

[Install]
WantedBy=default.target
