#!/bin/bash

APP_NAME="MinecraftForge"
APP_ROOT="{{ forge_path }}"
JAR_NAME="forge-{{ forge_version }}-universal.jar"
JAR_PATH="$APP_ROOT/$JAR_NAME"
SC_NAME="$APP_NAME"
XMX="{{ jvm_maximum_heap_size }}"
XMS="{{ jvm_initial_heap_size }}"
PID="$APP_ROOT/tmp/$APP_NAME.pid"

start() {
  if [ -e $PID ]; then
    echo -e "\033[31m$APP_NAME is already running!\033[00m"
    exit 1
  fi

  echo "Starting $APP_NAME..."

  screen -m -d -S $SC_NAME bash -c "cd $APP_ROOT && java -Xmx${XMX} -Xms${XMS} -jar $JAR_PATH nogui"
  screen -ls | sed -n -E "s ^\s*(.+)\.$SC_NAME.+ \1 p" > $PID

  echo -e "\033[32mStarted $APP_NAME\033[00m"
}

stop() {
  if [ ! -e $PID ]; then
    echo -e "\033[31m$APP_NAME is not running!\033[00m"
    exit 1
  fi
  
  echo "Stopping $APP_NAME..."
  
  screen -S $SC_NAME -p 0 -X "stuff ^C"
  kill $(cat $PID)
  rm -f $PID

  echo -e "\033[32mStopped $APP_NAME\033[00m"
}

restart() {
  stop
  start
}

status() {
  if [ -e $PID ]; then
    echo -e "\033[32m$APP_NAME is already running!\033[00m"
  else
    echo -e "\033[31m$APP_NAME is not running!\033[00m"
  fi
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart)
    restart
    ;;
  status)
    status
    ;;
  *)
    echo  $"Usage: $0 {start|stop|restart|status}"
esac

exit 0
